version: "3.9"
services:
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=myapp
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
    ports:
      - "5432:5432"
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: django-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/myapp
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react-frontend
    #command: npm run dev -- --host
    volumes:git reflog
fd28213 (HEAD -> main, origin/main, origin/HEAD) HEAD@{0}: commit: add lock file
3c2b0af HEAD@{1}: commit: devops-project
190ba3c HEAD@{2}: pull origin main --rebase (finish): returning to refs/heads/main
190ba3c HEAD@{3}: pull origin main --rebase (start): checkout 190ba3c8ddf46191d3b377a8c7fae5aa4c063c9d
7ae7185 HEAD@{4}: clone: from https://github.com/Nexgensis/devops-assessment.git

      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:8000  # Changed for browser access
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
