name: Test Workflow

on:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: self-hosted


    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push backend Docker Image
        uses: docker/build-push-action@v5
        with:
          context: backend
          file: backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops-assessment-backend:latest

      - name: Build and Push Frontend Docker Image
        uses: docker/build-push-action@v5
        with:
          context: frontend
          file: frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops-assessment-frontend:latest

    
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

          

      # 3️⃣ Start Backend
      - name: Start Backend
        working-directory: backend
        run: |
          echo "Shutting down backend containers..."
          docker compose down || true
          echo "Starting backend containers..."
          docker compose up -d --build
          docker ps
          
      